<section id="work" class="w-fit flex flex-col gap-8">
    <article class="flex gap-3 items-start">
        <div
            class="rounded-xl aspect-square h-10 flex items-center justify-center bg-green-800/70"
        >
            <p class="font-black m-0">P</p>
        </div>

        <div class="space-y-1">
            <p class="text-sm font-semibold">Punto.ph</p>

            <div class="-space-y-0.5">
                <div class="flex gap-10 text-[11px] justify-between">
                    <p class="text-white/55">Lead Software Engineer</p>

                    <time class="text-gray-500/85">Dec 2023 - Jan 2024</time>
                </div>
            </div>
        </div>
    </article>

    <article class="flex gap-3 items-start">
        <div
            class="rounded-xl aspect-square h-10 flex items-center justify-center bg-blue-600/70"
        >
            <p class="font-black m-0">S</p>
        </div>

        <div class="space-y-1">
            <p class="text-sm font-semibold">Symph</p>

            <div class="-space-y-0.5">
                <div class="flex gap-10 text-[11px] justify-between">
                    <p class="text-white/55">Software Engineer Intern</p>

                    <time class="text-gray-500/85">Dec 2023 - Jan 2024</time>
                </div>
            </div>
        </div>
    </article>
</section>
