<section
    id="work"
    class="lg:px-8 sticky top-6 lg:pt-5 lg:pb-8 rounded-xl lg:border lg:border-[#1db6a5]/40 h-fit w-fit space-y-5 lg:min-w-105"
>
    <h2 class="font-semibold text-lg">Work</h2>

    <div class="space-y-8">
        <article class="flex gap-3 items-start">
            <div
                class="rounded-xl aspect-square h-10 flex items-center justify-center bg-green-800/70"
            >
                <p class="font-black m-0">P</p>
            </div>

            <div class="space-y-1">
                <p class="text-sm font-semibold">Punto.ph</p>

                <div class="-space-y-0.5">
                    <div class="flex gap-10 text-[12px] justify-between">
                        <p class="text-white/55">Lead Software Engineer</p>

                        <time class="text-gray-500/85">Dec 2023 - Jan 2024</time
                        >
                    </div>
                </div>
            </div>
        </article>

        <article class="flex gap-3 items-start">
            <div
                class="rounded-xl aspect-square h-10 flex items-center justify-center bg-blue-600/70"
            >
                <p class="font-black m-0">S</p>
            </div>

            <div class="space-y-1">
                <p class="text-sm font-semibold">Symph</p>

                <div class="-space-y-0.5">
                    <div class="flex gap-10 text-[12px] justify-between">
                        <p class="text-white/55">Software Engineer Intern</p>

                        <time class="text-gray-500/85">Dec 2023 - Jan 2024</time
                        >
                    </div>
                </div>
            </div>
        </article>

        <article class="flex gap-3 items-start">
            <div
                class="rounded-xl aspect-square h-10 flex items-center justify-center bg-blue-600/70"
            >
                <p class="font-black m-0">S</p>
            </div>

            <div class="space-y-1">
                <p class="text-sm font-semibold">Symph</p>

                <div class="-space-y-0.5">
                    <div class="flex gap-10 text-[12px] justify-between">
                        <p class="text-white/55">Software Engineer Intern</p>

                        <time class="text-gray-500/85">Dec 2023 - Jan 2024</time
                        >
                    </div>
                </div>
            </div>
        </article>

        <article class="flex gap-3 items-start">
            <div
                class="rounded-xl aspect-square h-10 flex items-center justify-center bg-blue-600/70"
            >
                <p class="font-black m-0">S</p>
            </div>

            <div class="space-y-1">
                <p class="text-sm font-semibold">Symph</p>

                <div class="-space-y-0.5">
                    <div class="flex gap-10 text-[12px] justify-between">
                        <p class="text-white/55">Software Engineer Intern</p>

                        <time class="text-gray-500/85">Dec 2023 - Jan 2024</time
                        >
                    </div>
                </div>
            </div>
        </article>

        <article class="flex gap-3 items-start">
            <div
                class="rounded-xl aspect-square h-10 flex items-center justify-center bg-blue-600/70"
            >
                <p class="font-black m-0">S</p>
            </div>

            <div class="space-y-1">
                <p class="text-sm font-semibold">Symph</p>

                <div class="-space-y-0.5">
                    <div class="flex gap-10 text-[12px] justify-between">
                        <p class="text-white/55">Software Engineer Intern</p>

                        <time class="text-gray-500/85">Dec 2023 - Jan 2024</time
                        >
                    </div>
                </div>
            </div>
        </article>

        <article class="flex gap-3 items-start">
            <div
                class="rounded-xl aspect-square h-10 flex items-center justify-center bg-blue-600/70"
            >
                <p class="font-black m-0">S</p>
            </div>

            <div class="space-y-1">
                <p class="text-sm font-semibold">Symph</p>

                <div class="-space-y-0.5">
                    <div class="flex gap-10 text-[12px] justify-between">
                        <p class="text-white/55">Software Engineer Intern</p>

                        <time class="text-gray-500/85">Dec 2023 - Jan 2024</time
                        >
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
